nav{
    width: 100%;
}
nav div{
    float: right;
    margin-right: 20px; 
    margin-top: 5px;
    line-height: 24px;
    font-size: 13px;
    font-family: arial, sans-serif;
}
nav div a{
    padding: 0px 20px 0px 0px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    position: relative;
    bottom: -230px;
    left: 105px;
    display: block;
    margin: auto;
}
form{
    text-decoration: none;
}
form input{
    color: rbg(34,34,34);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    width: 560px;
    height: 39px;
    position: relative;
    bottom:-250px;
    display: block;
    margin: auto;
}

form button{
    background-color: rgb(248, 249, 250);
    height: 36px;
    min-width: 54px;
    border: 1px;
    border-radius: 4px;
    border-color: #f8f9fa;
    font-size: 14px;
    position: relative;
    left: 840px;
    bottom: -280px;
    text-align: center;
    margin-right: 20px;
}
button:hover{
    border: 2px;
    border-color: cadetblue;
    background-color: rgb(223, 208, 149);
}
footer{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3) ;
    position: fixed;
    bottom:0;
}
footer div{
    text-align: left;
}

