input{
    color: rbg(34,34,34);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    width: 560px;
    height: 39px;
    position: relative;
    bottom:-250px;
    display: block;
    margin: auto;
}
img{
    position: relative;
    left: 50px;
    bottom: -230px;
    display: block;
    margin: auto;
}
.button1{
    background-color: rgb(248, 249, 250);
    height: 36px;
    min-width: 54px;
    border: 1px;
    border-radius: 4px;
    border-color: #f8f9fa;
    font-size: 14px;
    position: relative;
    left: 340px;
    bottom: -280px;
}
.button2{
    background-color: rgb(248, 249, 250);
    height: 36px;
    min-width: 54px;
    border: 1px;
    border-radius: 4px;
    border-color: #f8f9fa;
    font-size: 14px;
    position: relative;
    left: 360px;
    bottom: -280px;
}
.text-alignment{
    float: right;
    margin-right: 15px; 
    margin-top: -8px;
    line-height: 24px;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-family: arial, sans-serif;
}
